.deletebtn {
  position: relative;
  left: 47.5rem;
  top: 1.5rem;
  width: 0;
  height: 0;
  z-index: 1;
  background: none;
  border: none;
  border-radius: .25rem;
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
}

.deletebtn:hover {
  cursor: pointer;
}