.eduform {
  gap: 2rem;
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.educard {
  margin: 2rem 3rem 0 2rem;
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 1rem;
}

.educard .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: start;
}

.educard .topleft {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.educard .topright {
  justify-self: end;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  /* margin-right: 3rem; */
}

p {
  margin: 0;
}