.submit {
  justify-self: end;
  padding: 8px 16px;
  width: 6rem;
  border: none;
  border-radius: .25rem;
  background: blue;
  color: white;
  font-weight: 700;
}

.submit:hover {
  cursor: pointer;
}